<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.tdude.splitty">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:desc=".MainActivity">
            <intent-filter>
                <action android:desc="android.intent.action.MAIN" />

                <category android:desc="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:desc=".AddEventActivity"
            android:label="@string/title_activity_add_event"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:desc=".ListPurchaseActivity"
            android:label="@string/title_activity_list_purchase"
            android:theme="@style/AppTheme" />
        <activity
            android:desc=".AddFriend"
            android:label="@string/title_activity_add_friend"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>